In [11]:
import pandas as pd

In [32]:
# read in data
element_liquidity = pd.read_csv('element_liquidity.csv')
element_liquidity_old = pd.read_csv('element_liquidity_old.csv')
element_liquidity["datetime"] = pd.to_datetime(element_liquidity["evt_block_time"])
element_liquidity_old["datetime"] = pd.to_datetime(element_liquidity_old["evt_block_time"])
element_liquidity.sort_values(by='datetime',ascending=False)
element_liquidity_old.sort_values(by='datetime',ascending=False)
element_liquidity_old = element_liquidity_old.drop(columns=['liquidityProvider']) # drop column liquidityProvider

In [24]:
max_date_old = element_liquidity_old['datetime'].max()
print(f"old dataset includes data up to {max_date_old}")
element_liquidity_truncated = element_liquidity[element_liquidity['datetime'] <= max_date_old]

old dataset includes data up to 2022-03-01 17:33:26+00:00

In [25]:
# compare the two dataframes
element_liquidity_truncated.equals(element_liquidity_old)

False

In [26]:
# compare the number of rows
display(f"new shape: {element_liquidity_truncated.shape}\nold shape: {element_liquidity_old.shape}")

'new shape: (20148, 16)\nold shape: (20148, 16)'

In [27]:
# identify entries in the evt_tx_hash column that are not in element_liquidity_truncated
idx_not_in_new = ~element_liquidity_old['evt_tx_hash'].isin(element_liquidity_truncated['evt_tx_hash'])
print(f"entries not in new: {sum(idx_not_in_new)}")
# identify entries in the evt_tx_hash column that are not in element_liquidity_old
idx_not_in_old = ~element_liquidity_truncated['evt_tx_hash'].isin(element_liquidity_old['evt_tx_hash'])
print(f"entries not in old: {sum(idx_not_in_old)}")

entries not in new: 0
entries not in old: 0

In [28]:
# show the entries in the evt_tx_hash column that are not in element_liquidity_old
not_in_new = element_liquidity_old.loc[idx_not_in_new,:]
display(not_in_new)
display(not_in_new.e_asset.unique())

Empty DataFrame
Columns: [evt_block_time, evt_block_number, liquidity_provider, e_asset, lp_token, deposit_size_base, deposit_size_base_usd, deposit_size_e_asset, lp_tokens_acquired, tx_fee_eth, tx_fee_usd, evt_tx_hash, nonce, index, tx_index, datetime]
Index: []

array([], dtype=object)

In [34]:
# show the entries in the evt_tx_hash column that are not in element_liquidity_old
not_in_old = element_liquidity_truncated.loc[idx_not_in_old,:]
display(not_in_old)
display(not_in_old.e_asset.unique())

Empty DataFrame
Columns: [evt_block_time, evt_block_number, liquidity_provider, e_asset, lp_token, deposit_size_base, deposit_size_base_usd, deposit_size_e_asset, lp_tokens_acquired, tx_fee_eth, tx_fee_usd, evt_tx_hash, nonce, index, tx_index, datetime]
Index: []

array([], dtype=object)

In [36]:
element_liquidity_truncated.sum()

/tmp/ipykernel_580807/1205616923.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  element_liquidity_truncated.sum()

evt_block_time           2022-03-01 17:33:26+00:002022-03-01 14:46:21+0...
evt_block_number                                              273686157086
liquidity_provider       \xa8c4e3ce1743d0f2a6c227548c982a7c40569940\x63...
e_asset                  ePyvDAI-29APR22ePyvUSDC-29APR22ePyvUSDC-28JAN2...
lp_token                 LPePyvDAI-29APR22LPePyvUSDC-29APR22LPePyvUSDC-...
deposit_size_base                                          45316297.014307
deposit_size_base_usd                                      98243884.685318
deposit_size_e_asset                                        30162823.57091
lp_tokens_acquired                                         65912846.226994
tx_fee_eth                                                      244.389492
tx_fee_usd                                                   916375.824698
evt_tx_hash              \x9a95e2f9e3f81848dc78e4cc52e158f0faa8fbc85a4e...
nonce                                                            5288074.0
index                                                              5813773
tx_index                                                         3649472.0
dtype: object

In [37]:
element_liquidity_old.sum()

/tmp/ipykernel_580807/15074778.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  element_liquidity_old.sum()

evt_block_time           2022-03-01T17:33:26+00:002022-03-01T14:46:21+0...
evt_block_number                                              273686157086
liquidity_provider       \xa8c4e3ce1743d0f2a6c227548c982a7c40569940\x63...
e_asset                  ePyvDAI-29APR22ePyvUSDC-29APR22ePyvUSDC-28JAN2...
lp_token                 LPePyvDAI-29APR22LPePyvUSDC-29APR22LPePyvUSDC-...
deposit_size_base                                          45316297.014307
deposit_size_base_usd                                      98243884.685318
deposit_size_e_asset                                        30162823.57091
lp_tokens_acquired                                         65912846.226994
tx_fee_eth                                                      244.389492
tx_fee_usd                                                   916375.824698
evt_tx_hash              \x9a95e2f9e3f81848dc78e4cc52e158f0faa8fbc85a4e...
nonce                                                              5288074
index                                                              5813773
tx_index                                                           3649472
dtype: object

In [46]:
# looking at new data, list the tokens in the data
list_of_new_pools = element_liquidity.e_asset.unique()
list_of_old_pools = element_liquidity_old.e_asset.unique()
# new pools not in old
list(set(list_of_new_pools) - set(list_of_old_pools))

['ePyvCurve-alUSD-16SEP22',
 'ePyvDAI-16SEP22',
 'ePyvDAI-24FEB23',
 'ePyvUSDC-16SEP22',
 'ePyvBalancer-BoostedAaveUSD-04MAY23',
 'ePyvUSDC-24FEB23',
 'ePyvcrv3crypto-16SEP22',
 'ePyvCurveLUSD-16SEP22',
 'ePyvcrvSTETH-24FEB23',
 'ePyvcrvSTETH-16SEP22']